<!-- New Card-->
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#" class="block aspect-w-3 aspect-h-4">
        <img class="rounded-t-lg object-cover w-full h-[300px]" [src]="book?.coverImageUrl" alt="Book cover" />
    </a>


    <div class="p-5">
        <a href="#">
            <h5 class="truncate mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">
                {{book?.title}}
            </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 truncate">{{book?.author}}</p>
        <p class="mb-3 font-normal dark:text-gray-400 text-destructive">${{book?.price}}</p>
        <button type="button" (click)="addToCart()"
            class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 18 21">
                <path
                    d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z" />
            </svg>
            Add to cart
        </button>
    </div>
</div>