<div
    class="relative w-full h-[530px] bg-[url('/hero-background.jpg')] bg-cover bg-center text-white flex items-center justify-center">
    <div class="absolute inset-0 bg-black opacity-75"></div> <!-- Overlay -->
    <div class="relative z-10">
        <h1 class="text-h1 font-heading text-center italic leading-normal">Some books leave us free <br>and some books
            make
            us free.
        </h1>
        <p class="text-center text-p-large mt-2 text-primary-300">- Ralph Waldo Emerson</p>
    </div>
</div>