<section class="featured-books container mx-auto">
  <h2 class="text-2xl m-4 font-bold">Featured Books</h2>
  <swiper-container class="m-4" [pagination]="true" [loop]="true" [centered-slides]="true" [pagination-clickable]="true"
    [breakpoints]="{
            '370': {
                slidesPerView: 1.2,
                spaceBetween: 10
            },
      '640': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 3,
        spaceBetween: 30
      },
      '1024': {
        slidesPerView: 4,
        spaceBetween: 40
      },
       '1280': {
        slidesPerView: 5,
        spaceBetween: 50
      }
    }" [navigation]="true">
    <swiper-slide class="mb-16" *ngFor="let book of featuredBooks">
      <app-card [book]="book"></app-card>
    </swiper-slide>
  </swiper-container>
</section>