<div class="bg-primary-800 gap-4 w-full text-white flex flex-col justify-between items-center mx-auto">
    <div class="p-4">
        <img src="/logo-no-background1.png" alt="bookland-logo" class="h-24 w-auto">
    </div>
    <hr class="w-full h-[1px] bg-gray-100 border-0 dark:bg-gray-500">

    <!-- Contents of footer-->
    <div class="content flex flex-col sm:flex-row justify-center gap-12 my-8 ">
        <div class="quick-links">
            <h2 class="text-xl font-bold mb-2">Quick Links</h2>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Books</a></li>
                <li><a href="">Magazine</a></li>
            </ul>
        </div>
        <div class="about-us">
            <h2 class="text-xl font-bold mb-2">About Us</h2>
            <p class="w-52">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="social-media">
            <h2 class="text-xl font-bold mb-2">Social Media</h2>
            <div class="icons flex">
                <div><a href=""><img src="/icons/Facebook.svg" alt="facebook" class=""></a>
                </div>
                <div><a href=""><img src="/icons/Instagram.svg" alt="facebook" class=""></a>
                </div>
                <div><a href=""><img src="/icons/TwitterX.svg" alt="facebook" class=""></a>
                </div>
                <div><a href=""><img src="/icons/LinkedIn.svg" alt="facebook" class=""></a>
                </div>
            </div>

        </div>
    </div>
    <hr class="w-full h-[1px] bg-gray-100 border-0 dark:bg-gray-500">
    <div class="my-2">copyright</div>
</div>